* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size:100%;
	box-sizing: border-box;
}

.paragraph {
	font-family: Helvetica Neue;
	font-size: 16px;
}
.container {
	margin: 100px 140px;
}
.text1 {
	max-width: 463px;
	width: 100%;
	 
	
}
.heading {
	font-family: 'Helvetica Neue Bold'
	font-size: 32px;
	padding-bottom: 45px;

}
.blue {
	color: #0A22F4;
}
.space {
	padding-top: 40px;
}

.imagecontainer {
	max-width: 500px;
	width: 100%;
	margin-left: 800px;
	margin-top: -400px;
}
.text2 {
	margin-left: 50%;
}
.image2 {
	max-width: 450px;
	width: 100%;
	margin-top: -200px;

}