/*reset css*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}
a{
	text-decoration: none;
}
ul {
	list-style: none;
}
/*reset css*/
.satauri1 {
	width: 197px;
	height: 38px;
	padding-bottom: 45px;
	color: #171717;
	font-size: 20px;
	font-family: "Helvetica Neue";

}
.satauri2 {
	width: 197px;
	height: 38px;
	padding-bottom: 45px;
	color: #171717;
	font-size: 20px;
	margin-left: 50%;
	font-family: "Helvetica Neue";
}
.container {
	max-width: 1195px;
	width: 100%;
	margin: 10px auto;
	display: block;
}
.box1{
	width: 463px;
	height: 385px;
}
.box2{
	width: 463px;
	height: 99px;
	padding-bottom: 200px;

}
.box3{
	width: 463px;
	height: 385px;
	margin-left: 50%;
}
.img1 {
	width: 400px;
	margin-top: -50%;
	margin-left: 45%;
	padding-bottom: 150px;
}
.img2 {
	width: 400px;
	margin-top: -240px;
	margin-left: 5%;
}
.text {
	font-family: 'HelveticaNeueBold';
	font-size: 16px;
	opacity: 0.8;
}
